<ul class="navbar">
  <li>
    <span class="fa-stack" on="tap:sidebar.toggle" role="button" tabindex="0">
        <i class="fa fa-bars fa-stack-1x"></i>
    </span>
  </li>
  <li>
    <a href="<%- config.root %>"><%-config.title || ""%></a>
  </li>
</ul>
