<nav class="navbar">
  <h1><a class="header-title" href="<%- config.root %>"><%-config.title || ""%></a></h1>
  <div class="collapse text-center">
    <ul class="navbar">
      <% for (var i in config.menu){ %>
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for(config.menu[i]) %>"><%= i %></a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
