<% if (item.cover_image){ %>
  <div class="post-image-div">
    <amp-img layout="responsive" width="500" height="300"  src="<%- config.root %><%- item.cover_image %>" alt="<%- item.title || "Untitled" %>"></amp-img>
  </div>
<% } %>
<div class="portfolio-content">
  <%- item.content %>
</div>
